{{> head }}
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1> Hello Astronaut</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa earum praesentium labore dolorum ea eos nihil
                fugiat, enim ad repellat? Neque dolorem temporibus a praesentium quasi necessitatibus exercitationem unde
                nobis!
            </p>
        </div>
        <div class="col-4">
            <img src="/assets/img/astronaut.jpg" class="img-thumbnail">
        </div>
    </div>
{{> footer }}